html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFEEDB;
}

img {
    width: 300px;
}

#img1 {
    width: 300px;
    animation: rotation 2s infinite linear;
}

#img2 {
    width: 300px;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#title {
    color: #000022;
    margin: auto;
    text-align: center;
}

#titleWebsite {
    font-size: 40px;
    font-style: italic;
}


#first {
    text-align: left;
    width: 75%;
    padding: 0em 2em;
}

#bio {
    font-size: 25px;
    font-style: italic;
}

#genRandCat {
    width: 200px;
    height: 30px;
}

#cats {
    right: 30px;
}

#capybaras {
    justify-content: center;
    display: flex;
}

#catss {
    justify-content: center;
    display: flex;
}

#genRandCapy {
    width: 200px;
    height: 30px;
}